<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-xl">
            <div class="BoxLogin">
                <div class="TituloLogin">
                    <h2>Login</h2>
                </div>
                <div class="container">
                    <form action="/admin/login" method="post">
                        <div class="mb-3">
                            <label class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp"
                                name="usuario" placeholder="Usuario">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder="Password"
                                name="password">
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Enviar</button>
                    </form>
                    <div class="ErrorLogin">
                        {{#if error}}
                        <div class="alert alert-danger" role="alert">
                            Usuario y contraseña incorrectos
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>