<div class="conteiner" style="margin: top 150px; ;">
    <div class="row">
        <div class="col">
            <p class="text-right">
                <span>Hola {{usuario}}!!</span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fas
                 fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>