/*imagenes de carousel 1280x800*/
body{
    background-color:#F2F2F2 ;
}
.carruselgrupo{
    padding: 20px 40px 0;

}
.carousel-inner {
    max-height: 750px;
}

.linea {
    border-top: 1px solid black;
    max-width: 80%;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
}
.saber-mas{
    cursor: pointer;
}
.visitanos{
margin: 3%;
}