<div class="BoxNuestrosTrabajos">
  <div class="col-lg-10 offset-lg-1">
    <div class="card-group">
      <div class="card">
        <img src="images/Aburrido-Horizontal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diseños digitales</h5>
          <p class="card-text">Estos proyectos de dibujo digital son echos junto al cliente desde principio hasta el
            fin
            con todos los cambios que surgan, constestando a cualquier duda e inquietud.</p>
          <p class="saber-mas"><small class="text-muted">Saber más</small></p>
        </div>
      </div>
      <div class="card">
        <img src="images/Lluvia.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fotografia</h5>
          <p class="card-text">La fotografia es nuestro fuerte, con gran amplitud de sectores en lo que a esto
            respecta,
            desde el estudio hasta cualquier fiesta que quieras inmortalizar en fotos.</p>
          <p class="saber-mas"><small class="text-muted">Saber más</small></p>
        </div>
      </div>
      <div class="card">
        <img src="images/Nube.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Edición Fotografica</h5>
          <p class="card-text">Nuestro equipo esta totalmente capacitado para poder reparar o mejorar fotos que
            necesiten
            de nuestra.</p>
          <p class="saber-mas"><small class="text-muted">Saber más</small></p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Tienda-->
{{!-- <nav id="Tienda" class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <h2 class="navbar-brand fs-4">Tienda</h2>
  </div>
</nav> --}}
<h2>Tienda</h2>
<div class="BoxTienda">
  <!--Remeras-->
  <p>
    <a class="btn btn-dark d-grid gap-2 col-6 mx-auto" data-bs-toggle="collapse" href="#multiCollapseExample1"
      role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Remeras</a>
  </p>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <div class="row row-cols-1 row-cols-md-4 g-1">
          <div class="col">
            <div class="card">
              <img src="images/tienda1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tulipan</h5>
                <p class="card-text">Para pedir esta remera envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/tienda2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Flor blanca</h5>
                <p class="card-text">Para pedir esta remera envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/tienda3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Taza Café</h5>
                <p class="card-text">Para pedir esta remera envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/tienda4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Good Days</h5>
                <p class="card-text">Para pedir esta remera envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/tienda5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fresas</h5>
                <p class="card-text">Para pedir esta remera envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/tienda6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Esperando</h5>
                <p class="card-text">Para pedir esta remera envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Tazas-->
  <p>
    <a class="btn btn-dark d-grid gap-2 col-6 mx-auto" data-bs-toggle="collapse" href="#multiCollapseExample2"
      role="button" aria-expanded="false" aria-controls="multiCollapseExample2">Tazas</a>
  </p>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <div class="row row-cols-1 row-cols-md-4 g-1">
          <div class="col">
            <div class="card">
              <img src="images/Taza1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Posibilidades</h5>
                <p class="card-text">Para pedir esta taza envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/Taza2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Océano</h5>
                <p class="card-text">Para pedir esta taza envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/Taza3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Caminos</h5>
                <p class="card-text">Para pedir esta taza envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/Taza4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Encuentro</h5>
                <p class="card-text">Para pedir esta taza envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/Taza5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Origen</h5>
                <p class="card-text">Para pedir esta taza envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/Taza6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No Problem</h5>
                <p class="card-text">Para pedir esta taza envianos un mail con tu nombre, direción, talla y nombre
                  del diseño. El pago se realiza en efectivo en el momento de entrega.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>