<div class="BoxNuestrosTrabajos">
  <div class="col-lg-10 offset-lg-1">
    <div class="card-group">
      <div class="card">
        <img src="images/Aburrido-Horizontal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diseños digitales</h5>
          <p class="card-text">Estos proyectos de dibujo digital son echos junto al cliente desde principio hasta el
            fin
            con todos los cambios que surgan, constestando a cualquier duda e inquietud.</p>
          <p class="saber-mas"><small class="text-muted">Saber más</small></p>
        </div>
      </div>
      <div class="card">
        <img src="images/Lluvia.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fotografia</h5>
          <p class="card-text">La fotografia es nuestro fuerte, con gran amplitud de sectores en lo que a esto
            respecta,
            desde el estudio hasta cualquier fiesta que quieras inmortalizar en fotos.</p>
          <p class="saber-mas"><small class="text-muted">Saber más</small></p>
        </div>
      </div>
      <div class="card">
        <img src="images/Nube.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Edición Fotografica</h5>
          <p class="card-text">Nuestro equipo esta totalmente capacitado para poder reparar o mejorar fotos que
            necesiten
            de nuestra.</p>
          <p class="saber-mas"><small class="text-muted">Saber más</small></p>
        </div>
      </div>
    </div>
  </div>
</div>