{{!-- Barra de tienda --}}
<div class="BTienda">
  <div class="row">
    <div class="col-10">
    </div>
    <div class="col-1">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark position-relative" style="border: 1px solid #d4d4d4;" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bag-shopping">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              22
              <span class="visually-hidden">unread messages</span>
            </span>
          </i>
        </button>
      </div>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Carrito de compras</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          ...
        </div>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>

{{!-- Tienda --}}

<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-xl">
      <div class="GrillaTienda">
        {{!-- Grilla Tazas --}}
        <h2>Tazas</h2>
        <div class="row row-cols-1 row-cols-md-4 g-3">
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/Taza1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Posibilidades</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/Taza2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Océano</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/Taza3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Caminos</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/Taza4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Encuentro</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/Taza5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Origen</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/Taza6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">No Problem</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{!-- Grilla Remeras --}}
        <div class="remeras">
          <h2>Remeras</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-3">
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/tienda1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Tulipan</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/tienda2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Flor blanca</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/tienda3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Taza Café</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/tienda4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Good Days</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/tienda5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Fresas</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-secondary mb-3">
              <img src="/images/tienda6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <div class="row justify-content-md">
                  <div class="col-9">
                    <h5 class="card-title">Esperando</h5>
                  </div>
                  <div class="col-1">
                    <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-1"></div>
</div>

